.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  background-color: #FF8B8B;
  padding: 20px;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  padding-right: 40px;
}

.navigation-bar-item {
  padding-right: 20px;
}

.navigation-bar-item a {
  font-family: 'Quicksand', sans-serif;
  color: #000000;
  text-decoration: none;
}

.item-book{
  background-color: #FF8B8B;
  list-style: none;
  display: none;
  text-decoration: none;
  position: absolute;
  min-width: 140px;
}

ul:hover li {
  display: block;
}

.item:hover{
  background-color: #ff4242;
}

.item-magazine{
  background-color: #FF8B8B;
  list-style: none;
  display: none;
  text-decoration: none;
  position: absolute;
  min-width: 140px;
}